

::-webkit-scrollbar{
    width: 10px;
    background-color: #000000;
}

::-webkit-scrollbar-thumb{
    background-color:  rgba(209, 67, 238, 0.637);
    
}

::-webkit-scrollbar-thumb:hover{
    background-color: rgb(0, 0, 0);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
/* Estilo Geral*/

html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    padding: 0;
    background-image: url(imagens/portfolio\ 1.jpg);
    height: 100vh;
    background-size: cover; /* Faz a imagem cobrir toda a tela */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita que a imagem se repita */
    background-attachment: fixed; /* Faz com que a imagem de fundo fique fixa enquanto o conteúdo rola */
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.contato button{
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 750;
    background-color: rgba(119, 46, 179, 0.63);
    border: 0;
    border-radius: 25px;
    cursor: pointer;
    transition: .4s;
}

.contatoo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh; /* opcional: ajusta a altura para centralizar verticalmente */
}

.contatoo a {
    text-decoration: none; /* opcional: remove a decoração de link */
}

.contatoo button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 750;
    background-color: rgba(119, 46, 179, 0.63);
    border: 0;
    border-radius: 25px;
    cursor: pointer;
    transition: .4s;
}

h2.titulo{
   color: #000;
   font-size: 38px;
   text-align: center;
}

h2.titulo span{
    color: rgba(119, 46, 179, 0.63);
}

button:hover, form .btn-enviar input:hover{
    box-shadow: 0px 0px 20px  rgba(119, 46, 179, 0.63);
    transform: scale(1.1);

}
/*  Estilo do cabeçalho */
.logo img{
    border-radius: 300px;
    width: 160px;
    box-shadow: 0px 0px 80px rgba(119, 46, 179, 0.63);
}
header{
    padding: 40px 4%;
}

header > .interface{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #000;
    text-decoration: none;
    display: inline-block;
    transition: .4s;
    font-weight: bold;
    font-size: 18px;
}

header a:hover{
    color:  rgba(119, 46, 179, 0.63);
    transform: scale(1.2);
}

header nav ul{
    list-style-type: none;
}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}


/* ESTILO DO TOPO DO SITE */
section.topo-do-site{
    padding: 40px 4%;
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 100px;
}

.topo-do-site h1{
    color: #000;
    font-size: 47px;
    line-height: 40px
}

.topo-do-site .txt-topo-site h1 span{
    color:  rgba(119, 46, 179, 0.788);
}

.topo-do-site .txt-topo-site p{
    color: #000;
    margin: 40px 0;
    text-align: justify;
    font-size: 18px;
}


/* ESTILO DAS HABILIDADES */

section.habilidades{
    padding: 40px 4%;
    box-shadow: 0 0 40px 8px #ffffff02;
}

section.habilidades .flex{
    gap:60px;
}

.habilidades .habilidades-box{
    color: #000;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .6s;
}

.habilidades .habilidades-box:hover{
    transform: (scale(3));
    box-shadow: 0 0 12px #000;
}

.habilidades .habilidades-box i{
    font-size: 68px;
    color: rgba(119, 46, 179, 0.788);
}

.habilidades .habilidades-box h3{
    font-size: 28px;
    margin: 15px 0;

}
/*ESTILO SOBRE*/
section.sobre{
    padding: 40px 4%;

}

section.sobre .flex{
    align-items: center;
    gap: 60px;
}

.sobre .txt-sobre{
    color: #000;;
}

.sobre .txt-sobre h2{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.topo-do-site .txt-topo-site h1{
text-align: center;
}

.topo-do-site .txt-topo-site p{
    text-align: center;
}

.sobre .txt-sobre h2 span{
    color:rgba(119, 46, 179, 0.788);
    display: block;
}

.sobre .txt-sobre p{
    margin: 20px 0;
    text-align: justify;
}



.btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: rgba(119, 46, 179, 0.788);
    font-size: 23px;
    margin: 20px 15px;
    cursor: pointer;
    transition: .4s;
}

.sobre .img-sobre img{
    position: relative;
    animation: flutuar 1.4s ease-in-out infinite alternate;
    border-radius: 14px;
}

@keyframes flutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}
/*ESTILO PORTFOLIO*/
section.portfolio{
    padding: 80px 4%;
    box-shadow: 0 0 40px 10px #ffffff0c;
}

section.portfolio .flex{
    justify-content: space-around;
    margin-top: 60px;
}

.img-port{
    width: 360px;
    height: 460px;
    background-size: cover;
    background-position: 100% 0%;
    transition: 5s;
    cursor: pointer;
    border-radius: 40px;
    position: relative;
    box-shadow: 0px 0px 42px rgba(119, 46, 179, 0.788);
}

.img-port:hover{
background-position: 100% 100%; 
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000b6;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    opacity: 0;
    transition: .5s;
}

.overlay:hover{
    opacity: 1;
}

/*FORMULARIO*/
section.formulario{
    padding: 80px 4%;
}

.formulario .interface p{
    max-width: 500px;
    margin: 0 auto;
    margin-top: 50px;
    color: #000;
    justify-content: center;
    display: flex;
    text-align: center;
    font-size: 18px;
}

form{
    max-width: 500px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 50px;
}

form input, form textarea{
    width: 100%;
    background-color: #fff;
    border: 0;
    outline: 0;
    padding: 20px 15px;
    border-radius: 15px;
    color: #000000;
    font-size: 14px;
    
}

form textarea{
    resize: none;
    max-height: 300px;
}

form .btn-enviar{
    font-weight: bold;
    margin-top: 25px;
    text-align: center;
}

form .btn-enviar input{
    width: 120px;
    background-color: rgba(119, 46, 179, 0.788);;
    color: #000;
    font-weight: 700;
    cursor: pointer;
    transition: .5s;
}

form .btn-enviar input:hover{
    box-shadow: 0px 0px 10px #000;
}

/*FOOTER*/

footer{
    padding: 60px 4%;
    box-shadow: 0 0 40px 10px #ffffff0c;
}

footer .line-footer{
    padding: 20px 0;
    
}

.btn-social h2{
    color: #000;
    justify-content: center;
    align-items: center;
    display: flex;
}
.borda{
    border-top: 2px solid rgba(119, 46, 179, 0.788);
}

footer .line-footer .logo-footer h2{
    color: #000;
   
}

footer .line-footer .logo-footer p{
    margin-top: 25px;
}

footer .flex{
    justify-content: space-between;
}

footer .line-footer p {
    color: #000;
    font-size: 22px;
}

.borda p{
    align-items: center;
    justify-content: center;
    display: flex;
    margin-top: 25px;
}

@media screen and (max-width:1020px){
    /*geral*/
    .flex{
        flex-direction: column;
    }

    
    h2.titulo{
        font-size: 30px;
        line-height: 30px;
    }

    .topo-do-site .flex{
        flex-direction: column-reverse;
    }

    /*CABEÇALHO*/
    .menu-desktop, .contato{
        display: none;
    }

    section.topo-do-site{
        padding: 20px 8%;
    }
    /*TOPO DO SITE*/
    .topo-do-site h1{
        font-size: 30px;
    }

    .topo-do-site .img-topo-site img{
        width: 100%;
    }

        /* ESTILO DAS HABILIDADES */

    section.habilidades{
        padding: 40px 8%;
    }

    /*SOBRE*/
    section.sobre{
        padding: 80px 8%;
    }

    .sobre .txt-sobre h2{
        font-size: 34px;
        line-height: 35px;
        text-align: center;
    }

    .btn-social{
        text-align: center;
    }

    .img-sobre img{
        width: 100%;

    }


    /*portfolio*/

    section.portfolio{
        padding: 80px 8%;
        
    }

    .img-port{
        width: 100%;
        max-width: 360px;
        margin: 0 auto;
    }

    section.portfolio .flex{
        gap: 60px;
    }

    /*RODAPÉ*/
    footer .flex{
        flex-direction: column;
        gap: 30px;
    }

    footer .line-footer .logo-footer h2{
        text-align: center;
       
    }

    footer .line-footer p {
        text-align: center;
    }

}